[project]
	description = Emulate a Trusted Execution Environment that is running the GlobalPlaforms Internal API
[access "refs/*"]
	owner = group user/TanelDettenborn (TanelDettenborn)
[access "refs/for/refs/*"]
	read = group user/TanelDettenborn (TanelDettenborn)
	push = group user/TanelDettenborn (TanelDettenborn)
	label-Code-Review = -2..+2 group user/TanelDettenborn (TanelDettenborn)
	label-Verified = -1..+1 group user/TanelDettenborn (TanelDettenborn)
	rebase = group user/TanelDettenborn (TanelDettenborn)
	removeReviewer = group user/TanelDettenborn (TanelDettenborn)
	submit = group user/TanelDettenborn (TanelDettenborn)
[access "refs/heads/*"]
	read = group user/TanelDettenborn (TanelDettenborn)
	create = group user/TanelDettenborn (TanelDettenborn)
	push = +force group user/TanelDettenborn (TanelDettenborn)
	pushMerge = group user/TanelDettenborn (TanelDettenborn)
[access "refs/tags/*"]
	push = +force group user/TanelDettenborn (TanelDettenborn)
	pushTag = group user/TanelDettenborn (TanelDettenborn)
	pushSignedTag = group user/TanelDettenborn (TanelDettenborn)
